<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список людей</title>
</head>
<body>

<table border="1">
    <tr th:each="person : ${persons}">
        <td th:text="${person.getId()}"></td>
        <td th:text="${person.getName()}"></td>
        <td th:text="${person.getBirthDate()}"></td>
        <td><a th:href="'/person/get/' +${person.getId()}">редактировать</a>
            <a th:href="'/person/delete/' +${person.getId()}">удалить</a>
        </td>
    </tr>
</table>

Новый студент<br>
<form method="post" action="/person/add">
    <input type="text" name="name"><br>
    <input type="text" name="birthDate"><br>
    <input type="submit" value="создать">
</form>

</body>
</html>